.user-post-avatar .avatar-image {
  height: 50px;
  width: 50px;
}

.full-post {
  display: flex;
  width: 550px;
  background-color: white;
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
}
.post-content {
  display: flex;
  flex-direction: column;
}

.profile-link,
.profile-link:active,
.profile-link:focus {
  text-decoration: none;
  color: inherit;
}

.date-time {
  color: gray;
  font-size: 0.8em;
}
