.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 100%;
  margin: auto;
}

.post-input {
  background-color: white;
  border-radius: 0.5em;
  padding: 0;
  margin: 0;
  width: 550px;
}

.posts {
  margin: 0em;
}

.loading-icon {
  position: fixed;
  left: 50vw;
  top: 50vh;
}
