

.user-avatar .avatar-image {
    height: 48px;
    width: 48px;
    margin-right: 1em;
    padding: 0;
}

.add-post-input input {
    height: 48px;
    width: 480px;
    padding: 0;
    margin: auto;
    border-radius: 1em;
    border: 2px solid gray;
}

.new-post-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    max-width: 550px;
    max-height: 48px;
}