* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
  background-color: rgb(221, 221, 221);
  max-width: 100vw;
  min-height: 100vh;
  min-width: 600px;
}

.content {
  padding-top: 48px;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 600px;
  }
}

.navbar-fixed {
  position: fixed;
  width: 100%;
}
